@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="bg-dark display-4">Welcome</h1>
	<p class="display-6" style="font-size:28px">View Courses <a asp-area="" asp-controller="Course" asp-action="Index">Here</a></p>
	<p class="display-6" style="font-size:28px">View Trainees <a asp-area="" asp-controller="Trainee" asp-action="Index">Here</a></p>
	<p class="display-6" style="font-size:28px">View Instructors <a asp-area="" asp-controller="Instructor" asp-action="Index">Here</a></p>
	<p class="display-6" style="font-size:28px">Browse Our Products <a asp-area="" asp-controller="Product" asp-action="Index">Here</a></p>
</div>
